<%= form_for @location do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :event_name %><br />
    <%= f.text_field :event_name %>
    *
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
    *
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
    *
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
    *
  </p>
  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p><%= f.submit %></p>
<% end %>
