<% title "Talk Grouper" %>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<h2>CPW Events</h2>
<table>
  <tr>
    <th>Event Name</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Address</th>
  </tr>
  <% for location in @locations %>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{location.latitude}%2C#{location.longitude}" %>
    <tr>
      <td><%= location.event_name %></td>
      <td><%= location.start_time %></td>
      <td><%= location.end_time %></td>
      <td><%= location.address %></td>
      <td><%= link_to "Show", location %></td>
      <td><%= link_to "Edit", edit_location_path(location) %></td>
      <td><%= link_to "Destroy", location, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_location_path %></p>
